@use "assets/variables.scss" as *;

.categories-section-wrapper {
  margin: $padding-xlg auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1240px;
}

.categories-header {
  display: flex;
  justify-content: space-between;
}

.categories-container {
  margin-top: $spacing-md;
  display: flex;
  gap: $spacing-md;
}
