@use "assets/variables.scss" as *;

.categories-section-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //   height: 70vh;
  padding: $padding-xlg;
}

.categories-header {
  display: flex;
  justify-content: space-between;
}

.categories-container {
  margin-top: $spacing-md;
  display: flex;
  gap: $spacing-md;
}
