<div class="card-wrapper">
  <img
    class="card-image"
    [ngSrc]="imgInput()"
    priority="false"
    fill="true"
    [alt]="displayedName() + ' category'"
  />
  <div class="filter"></div>
  <div class="card-content">
    <h3 class="category-name">{{ displayedName() }}</h3>
    <a [routerLink]="[link()]">
      <img
        class="link-svg"
        ngSrc="assets/svg/arrow-up-right-thin.svg"
        priority="false"
        width="45"
        height="45"
        alt="Navigation arrow"
      />
    </a>
  </div>
</div>
