<section class = "by-collection-section-wrapper">
  <h2>Collections</h2>
  <div class="images-grid">
      <div class = "col1">
          <img 
          src ="assets/images/by-room-kitchen.jpg" 
          alt="">
          <p>ABCD</p>
      </div>
      <div class = "col2 row1">
          <img  
          src= "assets/images/by-room-living-room.jpg"
          alt="">
          <p>EFGH</p>
      </div>
      <div class ="col2 row2">
          <img 
          src="assets/images/by-room-bedroom.jpg"
          
           alt="">
           <p>DSAD</p>
           
      </div>
  </div>
</section>
