@use "assets/variables.scss" as *;

.by-room-section-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $padding-xlg;
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: repeat(4, 1fr);
  column-gap: $spacing-lg;
  height: 75vh;
}

.col1 {
  grid-column: 1 / 2;
}

.col2 {
  grid-column: 2 / 3;
  grid-row: 1 / 5;
  position: relative;
}

.row1,
.row2,
.row3,
.row4 {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.row1:hover,
.row2:hover,
.row3:hover,
.row4:hover {
  background-color: $color-light-grey;

  .link-arrow {
    transform: translateX(7px);
  }

  .arrow-cover {
    transform: translateX(-10px);
    background-color: $color-light-grey;
  }
}

.row1,
.row2,
.row3 {
  border-bottom: 1px solid $color-grey;
}

.col2 img {
  object-fit: cover;
}

.inactive-image {
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.2s ease-out;
}

.active-image {
  opacity: 1;
}

.link-arrow {
  position: absolute;
  right: 40px;
  will-change: transform;
  transition: transform 0.2s ease-out;
}

.arrow-cover {
  width: 25px;
  height: 10px;
  background-color: $color-white;
  position: absolute;
  right: 60px;
  will-change: transform;
  transition: transform 0.2s ease-out;
}
