@use "assets/variables.scss" as *;

.nav-bar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  width: 100%;
  height: $header-height;
  padding: 0 $padding-xlg;
  z-index: $z-index-header;
  position: fixed;
  will-change: transform;
}

.hide {
  transition: transform 0.3s ease-in; // slower hide
  transform: translateY(-100%);
}

.show {
  transition: transform 0.2s ease-out; // snappy show
  transform: translateY(0);
}

a {
  text-decoration: none;
}

.links-container {
  display: flex;
  gap: 20px;
}

.router-link-active {
  background-color: #f0f0f0;
}
